
.flex-columns {
    display: flex;
    padding: 0;
    margin: 0;

    & > * {
        flex-shrink: 1;
        flex-grow: 1;
        max-width:100%;
    }
}

.rtl {
    text-align: right;
    direction: rtl;
}

.farsi-font * {
    font-family: 'IRANSans', 'Iran Sans', "B Yekan", "Yekan"
}